<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Uncomment if you are using the logback plugin for eclipse
	<consolePlugin/>
	-->
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[%p] [%thread] %logger - %msg%n</Pattern>
		</layout>
	</appender>	
	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />	
	</root>
	<!-- Red5 -->
	<logger name="org.red5">
		<level value="DEBUG" />
	</logger>
	
	<!-- Mina -->			
	<logger name="org.apache.mina">
		<level value="WARN" />
	</logger>	
	<logger name="org.apache.mina.filter">
		<level value="WARN" />
	</logger>
	<logger name="org.apache.mina.filter.thread.ThreadPoolFilter">
		<level value="WARN" />
	</logger>
	
	<!-- Apache commons -->
	<logger name="org.apache.commons">
		<level value="WARN" />
	</logger>
	<logger name="org.apache.commons.modeler">
		<level value="WARN" />
	</logger>
	<logger name="org.apache.commons.beanutils">
		<level value="WARN" />
	</logger>
	<logger name="org.apache.commons.digester">
		<level value="WARN" />
	</logger>
	<logger name="httpclient">
		<level value="WARN" />
	</logger>
	
	<!-- Spring -->
	<logger name="org.springframework">
		<level value="INFO" />
	</logger>
	<logger name="org.springframework.beans.factory">
		<level value="INFO" />
	</logger>	
	<logger name="org.springframework.beans.factory.xml">
		<level value="WARN" />
	</logger>
	
	<logger name="org.springframework.ui.context.support">
		<level value="WARN" />
	</logger>
	
	<logger name="org.springframework.web.context">
		<level value="INFO" />
	</logger>
	
	<logger name="org.springframework.web.context.support">
		<level value="WARN" />
	</logger>
	
	<logger name="org.quartz">
		<level value="WARN" />
	</logger>
	
	<!-- Caching -->
	<logger name="net.sf.ehcache">
		<level value="INFO" />
	</logger>

</configuration>
